.div {
  display: block;
  font-size: 12px;
  color: blue;
  background: lightgray;
  border-style: solid;
  border-color: black;

}

.span {
  color: black;
  font-size: 14px;
  text-transform: capitalise;
  text-align: left;
}